<div class="jumbotron">
  <h1>Welcome to Rpg Tables!</h1>

  <p class="lead">
    A table creation and sharing app!
  </p>

</div>

<div>
  <h2>Recent Tables</h2>
  <div class="tables-main">
    <div style="display: table-cell" ng-repeat="table in recentTables">
      <h3><a ui-sref="edittable({ tableId : table.id })">{{ table.name }}</a></h3>
    </div>
  </div>
</div>


<div class="tables-wrapper"> 
  <h2>Sample Table</h2>
  <div class="pull-left">
  <h3>{{sampleTable.name}}</h3>
  </div>
  <div class="pull-right">
    <button ng-if="!isEdit" type="button" class="btn btn-default" ng-click="enableEdit()">Edit</button>
    <button ng-if="isEdit" type="button" class="btn btn-default" ng-click="saveEdit()">Save</button>
  </div>
  <div class="tables-main">
    <div style="display: table-cell" ng-repeat="column in sampleTable.columns">
      <ul class="list-group">
        <li ng-if="!isEdit" class="list-group-item tables-row tables-header">
          {{column.header}}
        </li>
        <li ng-if="isEdit" class="list-group-item tables-row tables-header">
          <input type="text" min="0" ng-model="column.header">
        </li>
        <li ng-if="!isEdit" class="list-group-item tables-row" ng-repeat="rowText in column.rowText">
          {{rowText}}
        </li>
        <li ng-if="isEdit" class="list-group-item tables-row" ng-repeat="rowText in column.rowText track by $index">
          <input type="text" min="0" ng-model="column.rowText[$index]">
        </li>
      </ul>
    </div>
  </div>

  <div class="tables-main">
    <div style="display: table-cell" ng-repeat="entry in rollResult">
      <ul class="list-group">
        <li class="list-group-item tables-row">
          {{entry}}
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="btn btn-default" ng-click="rollTable()">Roll</button>
</div>

