<div>
  <h2>My Tables</h2>
  <div class="tables-main">
    <div style="display: table-cell" ng-repeat="table in usersTables">
      <h3><a ui-sref="edittable({ tableId : table.id })">{{ table.name }}</a></h3>
    </div>
  </div>
  <div ng-if="!isAuthenticated">
  	<h3>Please sign in above to access this section</h3>
  </div>
  <div ng-if="usersTables.length == 0 && isAuthenticated">
  	<h3>You have haven't made any tables yet! Click the button below to make one.</h3>
  </div>
</div>

<div>
	<button type="button" class="btn btn-default" ui-sref="createtable">Create A Table</button>
</div>
  
</div>

